@import "../../.cache/wal/colors-waybar.css";

window#waybar {
    font-family: Fira Code Nerd Font;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
    background: rgba(21, 18, 27, 0);
    color: #E0E0E0;
}

.modules-center {
    background: @background;
    border:3px solid @foreground;
    border-radius: 5px;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.modules-right {
    background: @background;
    border:3px solid @foreground;
    border-radius: 5px;
    color: #E0E0E0;
    margin-right: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.modules-left {
    background: @background;
    border:3px solid @foreground;
    border-radius: 5px;
    color: #E0E0E0;
    margin-right: 10px;
    padding-right: 5px;
    padding-left: 5px;
}

#workspaces {
    padding-left: 0px;
}

#workspaces button {
}

#workspaces button.active {
    color: #E0E0E0;
}

#workspaces button.focused {
    color: #a6adc8;
}

#workspaces button.urgent {
    color: #11111b;
}



#pulseaudio {
    color: @color1;
}

#temperature {
    color: @color3;
}

#network {
    color: @color5;
    padding-right: 10px;
}

#clock {
    color: @color7;
}

#tray {

}

#backlight {
    padding-right: 10px;
}



#battery {
    padding-right: 10px;
}

#battery.charging {

  }

