* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Hack Nerd Font;
    font-weight: 400;
    font-size: 12px;
    border-radius: 4px;
    min-height: 0px;
}

@define-color foreground #eceff4;
@define-color background #2e3440;

window#waybar {
  background-color: transparent;
  color: #ffffff;
  border-radius: 0px;
}

#waybar > box {
/* border: 2px solid #95A3BF;*/
  margin: 4px 8px 0px 8px;
  background-color: transparent;
  border-radius: 0px;
}

tooltip {
    background: rgb(30, 30, 46);
    border-radius: 7px;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
}
#workspaces button {
    color: @foreground;
    padding: 1px 4px;
    background-color: @background
}

#workspaces button:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

#workspaces button:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

#workspaces button.visible {
    color:#81a1c1;
    border-bottom: 2px solid #81a1c1;
    background-color: #3b4252;
}

#workspaces button.focused {
    color: #a6e3a1;

}

#workspaces button.urgent {
    color: @foreground;
    background-color: #45475a;
}

#custom-launcher
#mpris
#clock,
#cpu,
#memory,
#pulseaudio,
#tray-expander{
    background: @background;
}

#window,

#workspaces {
    color: @foreground;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    color: @foreground;
    background-color: @background;
    padding: 1px 10px 1px 10px;
}


label:focus {
    background: rgb(30, 30, 46);
}

#memory {
    color: #a3be8c;
    padding: 1px 14px 1px 8px;
}

#disk {
    background: rgb(30, 30, 46);
}

#pulseaudio {
    color: #d08770;
    padding: 1px 8px 1px 8px;
}

#pulseaudio.muted {
    color: @foreground;
    padding: 1px 8px 1px 8px;
}

#wireplumber {
    color: #000000;
}

#wireplumber.muted {
    background: rgb(30, 30, 46);
    padding: 1px 10px 1px 10px;
    margin-top: 5px;
}


#cpu {
    color: #b48ead;
    padding: 1px 14px 1px 8px;
}


#tray-expander {
    color: @foreground;
    padding: 1px 8px 1px 12px;    
}

#mpris {
    color: @foreground;
    background-color: @background;
    padding: 1px 8px 1px 8px;
}

#custom-launcher{
    color: #89b4fa;
    background-color: @background;
    padding: 1px 6px 1px 8px;
}
#custom-temperature{
    color: #5e81ac;
    background-color: @background;
    padding: 1px 8px 1px 8px;
}
#custom-launcher:hover{
    border-bottom: 2px solid #88c0d0;
}
